.venue__name {
	font-weight: bold;
}

.dashboard__container {
	font-size: 18px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: auto;
	background-color: #fbc602;
	padding: 2.5vh;
	height: 12vh;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
}

.dashboard__header {
	z-index: 2;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: auto;
	background: rgba(5, 13, 41, 0.6);
	padding: 3vh;
	height: 7vh;
	min-width: 100vh;
	min-width: -webkit-fill-available;
	position: absolute;
	/* border-bottom: 3px solid white; */
}

.logo {
	left: 3vh;
	top: 3.5vh;
	position: absolute;
	width: 20vh;
}

.header__button {
	font-weight: bold;
	right: 4.2vh;
	top: 7vh;
	position: absolute;
	color: #12276f;
	font-size: 1rem;
}

.header__button__label {
	right: 3vh;
	top: 1vh;
	position: absolute;
	color: white;
	font-size: 1rem;
}

.dashboard__btn {
	position: center;
	padding: 10px;
	font-size: 18px;
	margin-top: 10px;
	width: 35vh;
	border: none;
	color: white;
	background-color: #12276f;
	border-radius: 10px;
}

.dashboard__btn:active {
	position: center;
	padding: 10px;
	font-size: 18px;
	margin-top: 10px;
	width: 35vh;
	border: none;
	color: white;
	filter: brightness(85%);
	transform: scale(0.98);
}

.dashboard div {
	margin-top: 7px;
}

.map {
	z-index: 1;
}

@media only screen and (min-width: 321px) and (orientation: landscape) {
	.logo {
		left: 3vh;
		top: 3vh;
		position: absolute;
		width: 30vh;
	}

	.dashboard__header {
		z-index: 2;
		font-size: 18px;
		display: flex;
		flex-direction: row;
		text-align: center;
		align-items: center;
		justify-content: center;
		margin: auto;
		background: rgba(5, 13, 41, 0.6);
		padding: 3vh;
		height: 7vh;
		position: absolute;
	}

	.header__button__label {
		right: 50vh;
		top: 1vh;
		position: absolute;
		color: white;
		font-size: 1rem;
	}

	.header__button {
		font-weight: bold;
		right: 3vh;
		top: 2vh;
		position: absolute;
		width: 40vh;
		color: #12276f;
		font-size: 1rem;
	}

	.dashboard__container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.dashboard__btn,
	.dashboard__btn:active {
		margin-bottom: 3vh;
		white-space: nowrap;
	}
	.venue {
		margin-bottom: 1vh;
	}
}
