.venue__name {
	font-weight: bold;
}

.dashboard__container {
	font-size: 18px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: auto;
	background-color: #fbc602;
	padding: 2.5vh;
	height: 10vh;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
}

/* ----------- iPhone 4 and 4S ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.dashboard__container {
		padding: 0vh;
		height: 17vh;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.dashboard__btn,
	.dashboard__btn:active {
		margin-bottom: 5vh;
		white-space: nowrap;
	}
	.venue {
		margin-bottom: 3vh;
	}
}

/* ----------- iPhone 5, 5S, 5C and 5SE -----------  */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.dashboard__container {
		padding: 0vh;
		height: 17vh;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.dashboard__btn,
	.dashboard__btn:active {
		margin-bottom: 5vh;
		white-space: nowrap;
	}
	.venue {
		margin-bottom: 3vh;
	}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	.dashboard__container {
		padding: 0vh;
		height: 17vh;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.dashboard__btn,
	.dashboard__btn:active {
		margin-bottom: 5vh;
		white-space: nowrap;
	}
	.venue {
		margin-bottom: 3vh;
	}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
	.dashboard__container {
		padding: 0vh;
		height: 17vh;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.dashboard__btn,
	.dashboard__btn:active {
		margin-bottom: 5vh;
		white-space: nowrap;
	}
	.venue {
		margin-bottom: 3vh;
	}
}

/* ----------- iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
	.dashboard__container {
		padding: 0vh;
		height: 17vh;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}
	.dashboard__btn,
	.dashboard__btn:active {
		margin-bottom: 5vh;
		white-space: nowrap;
	}
	.venue {
		margin-bottom: 3vh;
	}
}

.dashboard__header {
	z-index: 2;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: auto;
	background-color: #fbc602;
	padding: 2.5vh;
	height: 10vh;
	width: 100vw;
	position: absolute;
}

.dashboard__btn {
	position: center;
	padding: 10px;
	font-size: 18px;
	margin-top: 10px;
	width: 35vh;
	border: none;
	color: white;
	background-color: #12276f;
	border-radius: 10px;
}

.dashboard__btn:active {
	position: center;
	padding: 10px;
	font-size: 18px;
	margin-top: 10px;
	width: 35vh;
	border: none;
	color: white;
	filter: brightness(85%);
	transform: scale(0.98);
}

.dashboard div {
	margin-top: 7px;
}

.map {
	z-index: 1;
}
